<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TheCrazy</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
    <div>
        <h1>Pálido ponto azul</h1>
        <h4>de Carl Sagan</h4>
    </div>

    <div>
        <p>Published: 21.02.2018, 11:01</p>
        <img src="http://2.bp.blogspot.com/-Sy2S9T5VPWE/VaZyLZgExFI/AAAAAAAAAW8/2o2Il1OiScs/s1600/palido_ponto_azul.jpg" alt="Um pálido ponto azul">
        <p>
        "A espaçonave estava bem longe de casa. Eu pensei que seria uma boa idéia, logo depois de Saturno, fazer ela dar uma 
        ultima olhada em direção de casa.
        </p>
        <p>
        De saturno, a Terra apareceria muito pequena para a Voyager apanhar qualquer detalhe, nosso planeta seria apenas um 
        ponto de luz, um "pixel" solitário, dificilmente distinguível de muitos outros pontos de luz que a Voyager avistaria: 
        Planetas vizinhos, sóis distantes. Mas justamente por causa dessa imprecisão de nosso mundo assim revelado valeria a 
        pena ter tal fotografia.
        </p>
        <p>
        Já havia sido bem entendido por cientistas e filósofos da antiguidade clássica, que a Terra era um mero ponto de luz em 
        um vasto cosmos circundante, mas ninguém jamais a tinha visto assim. Aqui estava nossa primeira chance, e talvez a 
        nossa última nas próximas décadas.
        </p>
        <p>
        Então, aqui está - um mosaico quadriculado estendido em cima dos planetas, e um fundo pontilhado de estrelas 
        distantes. Por causa do reflexo da luz do sol na espaçonave, a Terra parece estar apoiada em um raio de sol. Como se 
        houvesse alguma importância especial para esse pequeno mundo, mas é apenas um acidente de geometria e ótica. Não 
        há nenhum sinal de humanos nessa foto. Nem nossas modificações da superfície da Terra, nem nossas maquinas, nem 
        nós mesmos. Desse ponto de vista, nossa obsessão com nacionalismo não aparece em evidencia. Nós somos muito 
        pequenos. Na escala dos mundos, humanos são irrelevantes, uma fina película de vida num obscuro e solitário torrão de 
        rocha e metal.
        </p>
        <p>
        Considere novamente esse ponto. É aqui. É nosso lar. Somos nós. Nele, todos que você ama, todos que você conhece, 
        todos de quem você já ouviu falar, todo ser humano que já existiu, viveram suas vidas. A totalidade de nossas alegrias e 
        sofrimentos, milhares de religiões, ideologias e doutrinas econômicas, cada caçador e saqueador, cada herói e covarde, 
        cada criador e destruidor da civilização, cada rei e plebeu, cada casal apaixonado, cada mãe e pai, cada crianças 
        esperançosas, inventores e exploradores, cada educador, cada político corrupto, cada "superstar", cada "lidere
        supremo", cada santo e pecador na história da nossa espécie viveu ali, em um grão de poeira suspenso em um raio de 
        sol.
        </p>
        <p>
        A Terra é um palco muito pequeno em uma imensa arena cósmica. Pense nas infindáveis crueldades infringidas pelos 
        habitantes de um canto desse pixel, nos quase imperceptíveis habitantes de um outro canto, o quão frequentemente 
        seus mal-entendidos, o quanto sua ânsia por se matarem, e o quão fervorosamente eles se odeiam. Pense nos rios de 
        sangue derramados por todos aqueles generais e imperadores, para que, em sua gloria e triunfo, eles pudessem se 
        tornar os mestres momentâneos de uma fração de um ponto. Nossas atitudes, nossa imaginaria auto-importancia, a 
        ilusão de que temos uma posição privilegiada no Universo, é desafiada por esse pálido ponto de luz.
        </p>
        <p>
        Nosso planeta é um espécime solitário na grande e envolvente escuridão cósmica. Na nossa obscuridade, em toda essa 
        vastidão, não ha nenhum indicio que ajuda possa vir de outro lugar para nos salvar de nos mesmos. A Terra é o único 
        mundo conhecido até agora que sustenta vida. Não ha lugar nenhum, pelo menos no futuro próximo, no qual nossa 
        espécie possa migrar. Visitar, talvez, se estabelecer, ainda não. Goste ou não, por enquanto, a terra é onde estamos 
        estabelecidos.
        </p>
        <p>
        Foi dito que a astronomia é uma experiência que traz humildade e constrói o caráter. Talvez, não haja melhor 
        demonstração das tolices e vaidades humanas que essa imagem distante do nosso pequeno mundo. Ela enfatiza nossa 
        responsabilidade de tratarmos melhor uns aos outros, e de preservar e estimar o único lar que nós conhecemos... o 
        pálido ponto azul."
        </p>
    </div>
</body>
</html>